{% extends '@ApproveCodeWeb/layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h3>Approve Code</h3>
        Approve Code application provide features to approve/reject PR via GitHub statuses API.<br>
    </div>
{% endblock %}
